<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>지원 내역</title>
  </head>
  <body>
    <h1>지원 내역</h1>
    <button type="button"><a href="/application">뒤로가기</a></button>
    <table>
      <tr>
        <td>채용공고 번호(id)</td>
        <td>사용자 번호(id)</td>
      </tr>
      <% for(let history of histories) { %>
      <tr>
        <td><%= history.application_id %></td>
        <td><%= history.user_id %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
